@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700&display=swap');

@import "tailwindcss";

.text-outline {
  -webkit-text-stroke: .2px white;
}
.slide-in-left {
  animation: slideInLeft 3s ease-out;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.urdu-text {
  font-family: 'Noto Sans Arabic', serif;
}
